@use "variables.scss" as var;
@use "calculations.scss" as calc;

$padding: calc.px-to-rem(var.$padding);

@mixin article-mixin($color, $border-color, $font-size: 1rem) {
    border: calc.px-to-rem(1) solid $border-color;
    color: $color;
    font-size: $font-size;
}

div {
    border: calc.px-to-rem(1) solid var.$red;
    display: flex;
    flex-direction: column;
    align-items: center;
    & > section:first-of-type {
        display: flex;
        padding: $padding;
        & > article {
            padding: $padding;
        }
        & > article:nth-child(odd) {
            @include article-mixin(blue, green);
        }
        & > article:nth-child(even) {
            @include article-mixin(red, green);
        }
    }
    & > section:last-of-type {
        width: calc(100% - $padding * 2);
        padding: $padding;
        & > article {
            text-align: center;
            padding: $padding;
            @include article-mixin(green, blue, calc.px-to-rem(24))
        }
    }
}

.h1-class {
    color: var.$green;
    text-decoration: underline var.$blue;
} 

.h2-class {
    @extend .h1-class;
    text-decoration: none;
    border: calc.px-to-rem(1) solid var.$red;
    padding: 1rem;
}